---
name: Prettify, lint and test

on:
  pull_request:
  push:
    branches:
      - master
      - update-script

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run black
        uses: psf/black@stable

      - name: Prettify source.yaml
        uses: creyD/prettier_action@v4.2
        with:
          prettier_options: --write source.yaml
          file_pattern: source.yaml

  test:
    runs-on: ubuntu-latest
    needs: format
    steps:
      - uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install poetry
        uses: abatilo/actions-poetry@v2

      - name: Install dependencies
        run: poetry install --with=dev

      - name: Run Ruff
        run: poetry run ruff --format=github .

      - name: Run tests
        run: poetry run pytest
