---
name: Update .m3u files

on:
  push:
    branches:
      - master
      - update-script

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Update IPTV lists
        run: src/generate_lines.py --destination iptv source.yaml

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: Update Bot
          author_email: update-bot@example.com
          message: "Update .m3u files"
          add: "iptv/*.m3u"
